@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe
@using System.Collections.Generic


<h2>Recipe Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>Total Time: @Html.DisplayFor(model => model.TotalTime)</h3>
<h3>Ingredients: @Html.DisplayFor(model => model.Ingredients)</h3>

<h3>
@switch(Model.Rating)
  {
    case "1":
      <i class="fas fa-star"></i><i class="fas fa-star fas-faded"></i><i class="fas fa-star fas-faded"></i><i class="fas fa-star fas-faded"></i><i class="fas fa-star fas-faded"></i>
      break;
    case "2":
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fas-faded"></i><i class="fas fa-star fas-faded"></i><i class="fas fa-star fas-faded"></i>
      break;
    case "3":
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fas-faded"></i><i class="fas fa-star fas-faded"></i>
      break;
    case "4":
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star fas-faded"></i>
      break;
    case "5":
      <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
      break;
  }
</h3>

@if(@Model.Cuisines.Count == 0)
{
  <p>This item does not belong to any categories</p>
}
else
{
  <h4>Cuisines this recipe belongs to:</h4>
  <div class="cuisine-wrap">
  
  @foreach(var join in Model.Cuisines)
  {
    <p>@join.Cuisine.Type</p>
    @using (Html.BeginForm("DeleteCuisine", "Recipes"))
    {
      @Html.Hidden("joinId", @join.CuisineRecipeId)
      <input type="submit" value="Delete" class="btn btn-info"/>
    }
  }
  
  </div>
}

<p>@Html.ActionLink("Back to list", "Index") | @Html.ActionLink("Edit Item", "Edit", new { id = Model.RecipeId }) | @Html.ActionLink("Delete Item", "Delete", new { id = Model.RecipeId }) | @Html.ActionLink("Add a Cuisine", "AddCuisine", new { id = Model.RecipeId })</p>